.btn-clock-in{
  font-weight: $outfit-medium;
  font-size: 0.875rem;
  border-radius: .3125rem;
  background-color: #21D59B;
  color: $default-black;
  border: transparent;

  &:link,
  &:visited,
  &:hover,
  &:active
  {
  background-color: #21D59B;
  border: transparent;
  color: $default-black;
  }

  &:disabled{
    background-color: hsla(161, 73%, 48% , 0.3);
    border: transparent;
    color: $default-black;
  }
}

.btn-core-ghost{
  background-color: transparent;
  border: $core-blue-colour solid 0.0625rem;
  border-radius: .3125rem;
  color: $core-blue-colour;

  &:hover{
    background-color: $core-blue-colour;
    color: $default-white;
    border: transparent;
  }

  &:disabled{
    opacity: 0.3;
    &:hover{
      background-color: transparent;
      border: $core-blue-colour solid 0.0625rem;
      border-radius: .3125rem;
      color: $core-blue-colour;
    }
  }
}


.btn-alt-ghost{
  background-color: transparent;
  border: $alt-green-component-colour solid 0.0625rem;
  border-radius: .3125rem;
  color: $alt-green-component-colour;

  &:hover{
    background-color: $alt-green-component-colour;
    color: $default-black;
  }

    &:disabled{
    opacity: 0.3;
    &:hover{
      background-color: transparent;
      border: $alt-green-component-colour solid 0.0625rem;
      border-radius: .3125rem;
      color: $alt-green-component-colour;
    }
  }
}


.btn-clock-in-late{
  background-color: $failure-text-colour;
  color: $default-white;

  &:link,
  &:visited,
  &:hover,
  &:active {
  background-color: $failure-text-colour;
  color: $default-white;
  }
}

.btn-on-shift{
  background-color: $pending-text-colour;


  &:link,
  &:visited,
  &:hover,
  &:active {
  background-color: $pending-text-colour;
  }


  &:disabled{
    background-color: hsla(30, 69%, 55% , 0.3);
    border: transparent;
    color: $default-black;
  }
}

.activity-buttons{
  font-weight: $outfit-medium;
  font-size: 0.875rem;
  border-radius: 1.5625rem;
  background-color: transparent;
  @include theme using ($colors){
    color: map-get($colors, primary);
    border: 0.125rem solid map-get($colors, primary);
  }

  &:hover{
    color: $default-white;
    @include theme using($colors){
      background-color: map-get($colors, primary);
    }
  }
}

.active-activity{
    @include theme using($colors) {
      color: $default-white;
      background-color: map-get($colors, primary);
    }
}


.btn-transparent{
  background-color: transparent;
  border: transparent;
}


.btn-close{
  border-radius: 50%;
  background: #C43B46 none;
  opacity: 1;
}

.btn-fade-in {
    animation: fadeIn 400ms ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
}
