.text-form{
  background-color: transparent;
  color: $default-white;
  border: 0.125rem solid $opaque-card-background-colour;
  border-radius: 0.3125rem;
  line-height: 200%;

  &:focus-visible{
    @include theme using ($colors) {
      outline: 0.125rem solid map-get($colors, primary);
    }
  }
}