.opaque-board{
  background-color: $opaque-card-background-colour;
  border-radius: 1.25rem;
}

.transparent-board{
  border: 0.125rem solid $opaque-card-background-colour;
  border-radius: 1.25rem;
}

.failure-mini-board{
  background-color: transparent;
  border-radius: 0.3125rem;
  border: 0.125rem solid $failure-text-colour;
}

.success-mini-board{
  background-color: transparent;
  border-radius: 0.3125rem;
  border: 0.125rem solid $success-text-colour;
}

.mini-board{
  border-radius: 0.3125rem;
}

.file-divider{
  border-radius: 0.3125rem;
  background-color: $opaque-card-background-colour;
}

.single-page-divider{
  border-right: .09375rem solid $opaque-card-background-colour;
}

.sub-page-divider{
  border-bottom: .09375rem solid $opaque-card-background-colour;
}

.spaced-text{
  line-height: 3;
}

.error{
  background-color: hsla(354, 65%, 47% , 0.06);
  color: $failure-text-colour;
  border-radius: 0.3125rem;
  line-height: 2rem;
}

.warning{
  background-color: hsla(30, 59%, 55% , 0.06);
  color: $pending-text-colour;
  border-radius: 0.3125rem;
  line-height: 2rem;
}

.success{
  background-color: hsla(161, 73%, 48% , 0.06);
  color: $success-text-colour;
  border-radius: 0.3125rem;
  line-height: 2rem;
}

.CS-syntax-highlight{
  background-color: hsla(346, 81%, 57% , 0.1);
  color: #EA3963;
  border-radius: 4.25rem;
}

a.CS-syntax-highlight{
  &:hover{
    color: #EA3963;
    background-color: transparent;
    border: hsla(346, 81%, 57% , 0.1) solid 0.125rem;
  }
}

.MT-syntax-highlight{
  background-color: hsla(267, 91%, 57% , 0.1);
  color: #882FF5;
  border-radius: 4.25rem;
}

a.MT-syntax-highlight{
    &:hover{
    color: #882FF5;
    background-color: transparent;
    border: hsla(267, 91%, 57% , 0.1) solid 0.125rem;
  }
}

.PT-syntax-highlight{
  background-color: hsla(254, 91%, 56% , 0.1);
  color: #5B2AF5;
  border-radius: 4.25rem;
}

.custom-pagination{
  background-color: $opaque-card-background-colour;
  color: $default-white;
  font-weight: 600;
  width: 75%;
  border-radius: 0.3125rem;
}

.custom-form{
  background-color: $opaque-card-background-colour;
  font-weight: $outfit-light;
  border-color: transparent;
  border-top-right-radius: 0.3125rem;
  border-top-left-radius: 0.3125rem;
  color: $default-white;

  &::placeholder{
    color: $core-subtext-colour;
  }

  &:focus{
    color: $default-white;
    background-color: $opaque-card-background-colour;
    @include theme using ($colors) {
      border-color: map-get($colors, primary);
    }
  }
}

.custom-form-icon{
  background-color: $opaque-card-background-colour;
  border-top-left-radius: 0.3125rem;
  border-bottom-left-radius: 0.3125rem;
}


.modal{
  border-color: transparent;
}

.modal-header{
  background-color: #03060D;
  color: $core-blue-colour;
  border: none;
}

.modal-body{
  background-color: $opaque-card-background-colour;
}

.modal-footer{
  background-color: $opaque-card-background-colour;
  border: none;
  justify-content: flex-start;
}