
.material-symbols-outlined.button{
  background-color: transparent;
  border: transparent;

  &:disabled{
    opacity: 0.3;
  }
}

.material-symbols-outlined.md-18 { font-size: 18px; }
.material-symbols-outlined.md-24 { font-size: 24px; }
.material-symbols-outlined.md-36 { font-size: 36px; }
.material-symbols-outlined.md-48 { font-size: 48px; }

.material-symbols-outlined.md-grey { color: $default-icon-grey; }
.material-symbols-outlined.md-green { color: $success-text-colour; }
.material-symbols-outlined.md-red { color: $failure-text-colour; }
.material-symbols-outlined.md-blue {color: $core-blue-colour; }
.material-symbols-outlined.md-orange {color: $pending-text-colour; }
.material-symbols-outlined.icon-flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1)
}

.material-symbols-outlined.themed-icon{
  @include theme using ($colors) {
    color: map-get($colors, primary);
  }
}