{% extends 'base.html' %}

{% block content %}
    {# you can add hx-boost=false on any urls that you do not want boosted #}
    <div id="body-content"
         hx-boost="true"
         hx-target="#body-content"
         hx-select="#body-content"
         hx-swap="outerHTML"
         hx-push-url="true"
    >
        <h1>User Tasks</h1>

        {% for task, subtasks in task_items.items %}
            <a href="{% url 'my-tasks:task-detail' task.id task.slug%}">{{ task.task_name }}</a>
            <br>
            {% for subtask in subtasks %}
                {{ subtask.subtask_name }}
            {% endfor %}
        {% endfor %}
    </div>


{% endblock %}