{% extends 'base.html' %}

{% block content %}
    <div id="body-content"
         hx-boost="true"
         hx-target="#body-content"
         hx-select="#body-content"
         hx-swap="outerHTML"
         hx-push-url="true"
    >
        <div>{{ current_task.get_status_display }}</div>
        <h1>{{ current_task.task_name }}</h1>
        <h2>Your Subtasks</h2>
        {% for subtask in subtasks %}
            <a href="{% url 'my-tasks:subtask-detail' subtask.id subtask.slug %}">{{ subtask.subtask_name }}</a>

            <br>
        {% endfor %}
    </div>
{% endblock %}