<div id="dispute-description">
    <div class="py-6 px-6 extra-light zero-point-eight-seven-five-root w-100 subtext-shade">
        {{ dispute_description }}
    </div>
    <div class="mt-9 success w-100 py-6 px-6 light zero-point-eight-seven-five-root">
        Your dispute has been submitted to a member of the iSweat Fitness Leadership Team. While the team reviews your dispute,
        this clock in will display a pending status, and all deductions will remain on any incoming payments. If your dispute is
        successful, any current deductions will be added to your next payment slip.
    </div>
</div>
