{% extends 'base.html' %}
{% load static %}
{% load staffschedule_extras %}

{% block content %}
    <div id="user-content" class="ms-9">
        <div id="clock-ins">
            <div class="d-flex flex-row">
                <div class="d-flex flex-column single-page-divider pe-7 py-10">

                    <div class="d-flex flex-row align-items-baseline">
                        <h1 class="core-page-heading mb-0">Clock In Service</h1>
                        <span class="material-symbols-outlined md-36 themed-icon ms-3">work_history</span>
                    </div>
                    <div class="mt-2 core-content-subheading">Showing up on time is a crucial part of iSweat policy.
                        Be sure to hit the clock in button on time to ensure that you do not receive any deductions</div>

                    <div class="core-general-heading mt-10">Shift Activation</div>
                    <div class="mt-2 mb-6 core-content-subheading">Shifts must be activated from ISMS to receive your final salary.
                        Your clock ins will open 40 minutes before your shift starts
                    </div>

                    <section class="d-flex flex-row flex-wrap g-0">
                        <div class="col-5 clock-in-board pt-9 pb-7 ps-7">
                            <span class="material-symbols-outlined md-36 md-grey">lock_clock</span>
                            <div
                                    class="semi-bold one-point-one-two-five-root mt-4 "
                                    id="clock-in-status"
                            >
                                {% if active_clock_in.status is None%}
                                    No Clock In Available
                                {% endif %}
                            </div>
                            <div
                                    id="clock-in-starts"
                                    class="semi-bold triple-root"
                                    data-next-clock-in-time-to-open="{{ time_to_open }}"
                                    data-shift-starting-time="{{ iso_shift_starting_time }}"
                                    data-shift-ending-time = "{{ iso_shift_ending_time }}"
                                    data-shift-started ="{{ active_clock_in.on_shift }}"
                                    data-shift-activated = "{{ active_clock_in.active }}"
                            >
                                {% if active_clock_in.status is None %}
                                    0
                                {% else %}

                                {% endif %}
                            </div>
                            <div class="regular subtext-shade zero-point-seven-five-root mt-2" id="time-until-classifier">
                                Minutes
                            </div>
                        </div>

                        <div class="col-4 ms-7" id="shift-activation-section" >
                            <div class="clock-board">
                                <div id="clock" class="py-9 ps-7 pe-6 subtext-shade"></div>
                            </div>

                            <button
                                    disabled
                                    class="btn-primary btn-clock-in mt-9 py-5 w-100"
                                    type="submit"
                                    id="clock-in-button"
                                    onclick="getClockInLatLong()"
                                    data-button-status= "{{ clock_in_button_info.1 }}"
                                    {% if active_clock_in %}
                                        jx-post="{% url 'schedule:log-clock-in' active_clock_in.id %}"
                                    {% else %}
                                        jx-post=""
                                    {% endif %}

                            >Begin Clock In</button>
                        </div>
                    </section>

                    <div class="col-12" hx-swap="outerHTML" id="error-message">
                            {% if messages %}
                                {% for message in messages %}
                                <div class="{{ message.tags }} zero-point-seven-five-root semi-bold
                                 py-6 px-4 mt-5 text-wrap ms-4 w-75">{{ message }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>

                    <div class="core-general-heading mt-10">Clock In Details</div>
                    <div class="mt-2 mb-6 core-content-subheading">ISMS keeps a log of every clock in that
                        you make while at iSweat Fitness</div>

                    <section class="text-center">
                        <section
                                class="row g-0 mt-6"
                                id="clock-in-details"
                                hx-boost="true"
                                hx-swap="outerHTML"
                                hx-select="#user-content"
                                hx-target="#user-content"
                                hx-push-url="true">
                            <a href="{% url 'schedule:month-clock-ins' current_time|date:"n" current_time|date:"o" %}" class="col-5 opaque-board">
                                <span class="material-symbols-outlined md-36 md-grey mt-6">history</span>
                                <div class="semi-bold mt-4">Clock Ins This Month</div>
                                <div class="semi-bold triple-root">{{ month_clock_ins.count }}</div>
                                <div class="regular subtext-shade zero-point-seven-five-root mb-6">Clock Ins</div>
                            </a>

                            <a href="{% url 'schedule:total-clock-ins' %}" class="col-5 opaque-board ms-7">
                                 <span class="material-symbols-outlined md-36 md-grey mt-6">history</span>
                                <div class="semi-bold mt-4">Total Clock Ins</div>
                                <div class="semi-bold triple-root">{{ all_clock_ins.count }}</div>
                                <div class="regular subtext-shade zero-point-seven-five-root mb-6">Clock Ins</div>
                            </a>


                            <div class="col-5 opaque-board mt-7">
                                <span class="material-symbols-outlined md-36 md-grey mt-6">hourglass_top</span>
                                <div class="semi-bold mt-4">Early Clock Ins</div>
                                <div class="semi-bold triple-root">{{ early_clock_ins }}</div>
                                <div class="regular subtext-shade zero-point-seven-five-root mb-6">Times</div>
                                <div class="mb-10 d-flex align-items-center justify-content-center">
                                    <span class="material-symbols-outlined md-36 md-green">arrow_upward</span>
                                    <div class="semi-bold root-size success-text">15 times this month</div>
                                </div>
                            </div>

                            <div class="col-5 opaque-board ms-7 mt-7">
                                <span class="material-symbols-outlined md-36 md-grey mt-6">hourglass_bottom</span>
                                <div class="semi-bold mt-4">Late Clock Ins</div>
                                <div class="semi-bold triple-root">{{ late_clock_ins }}</div>
                                <div class="regular subtext-shade zero-point-seven-five-root mb-6">Times</div>
                                <div class="mb-10 d-flex align-items-center justify-content-center">
                                    <span class="material-symbols-outlined md-36 md-red">arrow_downward</span>
                                    <div class="semi-bold root-size failure-text">16 times this month</div>
                                </div>
                            </div>
                        </section>
                    </section>

                    <header class="core-general-heading mt-10">Dispute Details</header>
                    <span class="mt-2 mb-5 core-content-subheading">
                        ISMS keeps a log of every clock in that you make while at iSweat Fitness
                    </span>

                    <section
                            id="dispute-details"
                            hx-boost="true"
                            hx-swap="outerHTML"
                            hx-select="#user-content"
                            hx-target="#user-content"
                            class="text-center row g-0 mt-6">
                        <a href="" class="col-5 opaque-board">
                                <span class="material-symbols-outlined md-36 md-grey mt-6">pause_circle</span>
                                <div class="semi-bold mt-4">Pending Disputes</div>
                                <div class="semi-bold triple-root">{{ pending_disputes }}</div>
                                <div class="regular subtext-shade zero-point-seven-five-root mb-6">Disputes</div>
                        </a>

                        <a href="" class="col-5 opaque-board ms-7">
                            <span class="material-symbols-outlined md-36 md-grey mt-6">contact_support</span>
                            <div class="semi-bold mt-4">Total Disputes</div>
                            <div class="semi-bold triple-root">{{ all_disputes }}</div>
                            <div class="regular subtext-shade zero-point-seven-five-root mb-6">Disputes</div>
                        </a>

                        <a href="" class="col-5 opaque-board mt-7">
                                <span class="material-symbols-outlined md-36 md-grey mt-6">sentiment_very_satisfied</span>
                                <div class="semi-bold mt-4">Successful Disputes</div>
                                <div class="semi-bold triple-root">{{ successful_disputes }}</div>
                                <div class="regular subtext-shade zero-point-seven-five-root mb-6">Disputes</div>
                                <div class="mb-10 d-flex align-items-center justify-content-center">
                                    <span class="material-symbols-outlined md-36 md-green">arrow_upward</span>
                                    <div class="semi-bold root-size success-text">15 times this month</div>
                                </div>
                        </a>

                        <a href="" class="col-5 opaque-board mt-7 ms-7">
                                <span class="material-symbols-outlined md-36 md-grey mt-6">sentiment_extremely_dissatisfied</span>
                                <div class="semi-bold mt-4">Unsuccessful Disputes</div>
                                <div class="semi-bold triple-root">{{ unsuccessful_disputes }}</div>
                                <div class="regular subtext-shade zero-point-seven-five-root mb-6">Disputes</div>
                                <div class="mb-10 d-flex align-items-center justify-content-center">
                                    <span class="material-symbols-outlined md-36 md-green">arrow_upward</span>
                                    <div class="semi-bold root-size success-text">15 times this month</div>
                                </div>
                        </a>
                    </section>
                </div>


                <div class="d-flex flex-column ps-7 pt-10">
                     <h2 class="core-page-side-heading mb-0"> Next Clock Ins</h2>
                    <div class="mt-2 core-content-subheading">Here are the Next 7 Clock Ins That You Will Need to Make at iSweat Fitness.</div>

                    <div class="core-general-heading mt-10">Your Clock Ins</div>
                    <div class="mt-2 mb-6 core-content-subheading">This Displays the Times You are Expected to Clock In </div>

                    <section id="next-clock-ins">
                            {% for clock_in in registered_clock_ins %}
                                <section class="d-flex flex-row align-items-center mt-6" id="registered-clock-in-date-{{ forloop.counter0 }}">
                                    <div class="d-flex flex-column align-items-center">
                                        <div class="date-header py-1 zero-point-eight-seven-five-root px-7 w-100">{{ clock_in.shift_starts | date:"D" }}</div>
                                        <div class="date-footer py-3 px-3 one-point-five-root text-center w-100">{{ clock_in.shift_starts | date:"d" }}</div>
                                    </div>
                                    <div class="one-point-one-two-five-root thin ms-4">
                                        {{ clock_in.shift_starts | date:"F" }}
                                    </div>
                                </section>
                                <section class="clock-in-board mt-7 ps-7" id="registered-clock-in-shift-info-{{ forloop.counter0 }}">
                                        <span class="material-symbols-outlined md-36 md-grey mt-9">schedule</span>
                                        <div class="semi-bold subtext-shade one-point-one-two-five-root">Shift Time</div>
                                        <div class="d-flex flex-row mt-6 alt-fnt-medium double-root align-items-center">
                                            <span>{{ clock_in.shift_starts | date:"H:i" }}</span>
                                            <span class="material-symbols-outlined md-36 md-grey mx-2">trending_flat</span>
                                            <span>{{ clock_in.shift_ends | date:"H:i" }}</span>
                                        </div>
                                        <div class="mt-2 mb-9 zero-point-eight-seven-five-root subtext-shade">
                                            Clock in opens at {{ clock_in.shift_starts|get_clock_in_opening|date:"H:i" }}
                                        </div>
                                    </section>
                            {% endfor %}
                    </section>
                </div>
            </div>
        <script src="{% static 'js/internal_clock/currenttime.js' %}" defer></script>
        <script src="{% static 'js/internal_clock/getCurrentClockInLocation.js' %}" defer></script>
        <script src="{% static 'js/internal_clock/manipulateClockInDate.js' %}" defer></script>
        </div>
    </div>
{% endblock %}